<article>
  <div class="card" routerLink="book">
    <img src={{book.image}} alt="book-image" class="card-img-top">
    <div class="card-body">
      <small class="bg-light text-center text-decoration-line-through">{{book.price}}</small>
      <small class="bg-light text-center ml-3 fw-bold fs-6">{{book.price}}</small>
    
      <h5 class="mt-1">{{book.title}}</h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore doloremque in, similique consequatur aliquam reiciendis natus doloribus voluptatibus dolorem id sunt voluptas quia, incidunt, cumque magnam eveniet quos quod exercitationem.</p>
      
    </div>
  </div>
</article>
