<div class="container register-section w-75 rounded">
  <div class="row align-items-stretch">
    <div class="col bg-white p-5 rounded-end">
      <div class="text-end">
        <img src="" alt="">
      </div>
      <h2 class="fw-bold text-center py-5">Create your account!</h2>.

      <form action="">
        <div class="mb-4">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" name="email">
        </div>
        <div class="mb-4">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" name="password">
        </div>

        <div class="d-grid">
          <button type="submit" class="btn btn-primary">Log In</button>
        </div>

        <div class="my-3">
          <span>Ya tienes una cuenta? <a routerLink="/login">Log in</a></span> <br>
          <span><a href="">Recover password</a></span>
        </div>
      </form>

      <div class="container w-100 my-5">
        <div class="col-12">Log In</div>
      </div>
      <div class="row">
        <div class="col">
          <button class="btn btn-outline-primary w-100 my-1">
            <div class="row align-items-center">
              <div class="col-2 d-none d-md-block">
                <img src="https://cdn.pixabay.com/photo/2015/05/17/10/51/facebook-770688_1280.png" width="32" alt="">
              </div>
              <div class="col-12 col-md-10 text-center">
                Facebook
              </div>
            </div>
          </button>
        </div>
        <div class="col">
          <button class="btn btn-outline-danger w-100 my-1">
            <div class="row align-items-center">
              <div class="col-2 d-none d-md-block">
                <img src="https://cdn.pixabay.com/photo/2015/12/11/11/43/google-1088004_1280.png" width="32" alt="">
              </div>
              <div class="col-12 col-md-10 text-center">
                Google
              </div>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>