<section class="container mt-5 crud-page">
  <h5>CRUD Book</h5>
  <form action="d-flex">
    <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#createModal">Add</button>
  </form>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ISBN</th>
        <th scope="col">Title</th>
        <th scope="col">Year</th>
        <th scope="col">Author</th>
        <th scope="col">Price</th>
        <th scope="col">Category</th>
        <th scope="col">Publisher</th>
        <th scope="col">Pages</th>
        <th scope="col">Language</th>
        <th scope="col">Stock</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books | paginate: { itemsPerPage: 5, currentPage: page }">
        <th scope="row">{{book.isbn}}</th>
        <td>{{book.title}}</td>
        <td>{{book.year}}</td>
        <td>{{book.author}}</td>
        <td>{{book.price}}</td>
        <td>{{book.category}}</td>
        <td>{{book.publisher}}</td>
        <td>{{book.pages}}</td>
        <td>{{book.language}}</td>
        <td>{{book.stock}}</td>
        <td>
          <button class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#updateModal">Update</button>
          <button type="button" class="btn btn-outline-danger" id="liveToastBtn">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</section>

<pagination-controls (pageChange)="page = $event" previousLabel="Previous" nextLabel="Next"></pagination-controls>

<div class="modal modal-lg fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createModalLabel">Create Book</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="row g-3" [formGroup]="createForm" (ngSubmit)="onCreateBook()">
          <div class="col-md-3 mb-3">
            <label for="book-isbn" class="col-form-label">ISBN</label>
            <input type="text" class="form-control" formControlName="isbn" id="book-isbn">
          </div>
          <div class="col-md-9 mb-3">
            <label for="book-title" class="col-form-label">Title</label>
            <input type="text" class="form-control" formControlName="title" id="book-title">
          </div>
          <div class="col-md-12 mb-3">
            <label for="book-image" class="col-form-label">Image</label>
            <input type="text" class="form-control" formControlName="image" id="book-image" placeholder="http://image.jpg">
          </div>
          <div class="col-md-4 mb-3">
            <label for="book-price" class="col-form-label">Price</label>
            <div class="input-group">
              <span class="input-group-text">$</span>
              <input type="number" class="form-control" formControlName="price" id="book-price" placeholder="0000">
            </div>
          </div>
          <div class="col-md-8 mb-3">
            <label for="book-categ" class="col-form-label">Category</label>
            <select id="book-categ" class="form-select" formControlName="category" placeholder="choose one">
              <option *ngFor="let cat of categories" [value]="cat.id">{{cat.name}}</option>
            </select>
          </div>
          <div class="col-md-3 mb-3">
            <label for="book-pages" class="col-form-label">Pages</label>
            <input type="number" class="form-control" formControlName="pages" id="book-pages">
          </div>
          <div class="col-md-3 mb-3">
            <label for="book-year" class="col-form-label">Year</label>
            <input type="number" class="form-control" formControlName="year" id="book-year">
          </div>
          <div class=" col-md-6 mb-3">
            <label for="book-lang" class="col-form-label">Language</label>
            <input type="text" class="form-control" formControlName="language" id="book-lang">
          </div>
          <div class="mb-3">
            <label for="book-desc" class="col-form-label">Description</label>
            <textarea class="form-control" formControlName="description" id="book-desc"></textarea>
          </div>
          <div class="col-md-4 mb-3">
            <label for="book-stock" class="col-form-label">Stock</label>
            <input type="number" class="form-control" formControlName="stock" id="book-stock">
          </div>
          <div class="col-md-8 mb-3">
            <label for="book-publ" class="col-form-label">Publisher</label>
            <input type="number" class="form-control" formControlName="publisher" id="book-publisher">
            <!-- <select id="book-publisher" formControlName="publisher" class="form-select">
              <option selected>Choose...</option>
              <option [value]="1">1</option>
            </select> -->
          </div>
          <div class="col-md-8 mb-3">
            <label for="book-author" class="col-form-label">Author</label>
            <input type="text" class="form-control" formControlName="author" id="book-author">
          </div>
          <div class="col-md-4 mb-3">
            <label for="book-cover" class="col-form-label">Cover</label>
            <input type="text" class="form-control" formControlName="cover" id="book-cover">
          </div>
          
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-outline-success" (click)="onCreateBook()" data-bs-dismiss="modal">Submit</button>
      </div>
    </div>
  </div>


</div>

<div class="d-flex justify-content-center align-items-center w-100">
  <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="..." class="rounded me-2" alt="...">
      <strong class="me-auto">Libreria</strong>
      <small>Just now</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Book deleted!
    </div>
  </div>
</div>

