<div class="main-container">
  <div class="cart-container">
    <ul class="tab-container">
      <li class="tab-li">
        <span class="title-blue">Tu carrito ({{dataSource.length}})</span>
      </li>
    </ul>
    <div class="separator"></div>
    <div *ngIf="!cart.items.length">
      <p>
        Your cart is empty.
        <button routerLink="/home">Start shopping</button>
      </p>
    </div>
    <div *ngFor="let item of dataSource">
      <section class="item-row">
        <article class="item-cart">
          <div class="item-cart-asset">
            <img src={{item.product}} alt="">
          </div>
          <div class="item-cart-info">
            <div class="item-title">
              <span class="text-title fw-bold">{{item.name}}</span>
            </div>
            <div class="item-cart-actions">
              <div class="actions-container">
                <a (click)="onRemoveFromCart(item)"><span class="title-blue">Eliminar</span></a>
                <a><span class="title-blue">Comprar ahora</span></a>
              </div>
            </div>
          </div>
        </article>

        <div class="quantity-selector">
          <div class="quantity-selector-box">
            <form class="quantity-selector-form">
              <button class="quantity-selector-button"
                (click)="onRemoveQuantity(item)" [disabled]="item.quantity <= 0">
                <span class="quantity-span">-</span>
              </button>
              <div class="form-control">
                  <span>{{item.quantity}}</span>
              </div>
              <button class="quantity-selector-button"
                (click)="onAddQuantity(item)" [disabled]="item.quantity >= item.stock">
                <span class="quantity-span">+</span>
              </button>
            </form>
          </div>
          <p class="quantity-selector-message">
            <span style="color: #999; font-size: 14px;">{{item.stock - item.quantity}} disponibles</span>
          </p>
        </div>

        <div class="item-price-container">
          <div class="item-price">
            <span class="item-price-span">{{ item.quantity * item.price | currency }}</span>
          </div>
        </div>
        
        <div class="separator mb-3"></div>
      </section>
    </div>
    <div class="total-row justify-content-between">
      <div class="text-div">
        <h5 class="total-text fs-3">
          <span class="mr-1">Total</span>
        </h5>
      </div>
    
      <div class="total-div mr-3">
        <h6 class="total-text">
          <span class="fs-3">{{getTotal(cart.items) | currency }}</span>
        </h6>
      </div>

      <div class="buy-container mr-3 pr-3">
        <button class="btn btn-primary fs-6">
          Comprar
        </button>
      </div>
    </div>
  </div>
</div>