@import '../../../styles.css';

.main-container {
  margin: auto;
  max-width: 1200px;
  width: 100%;
  padding-top: 130px;
}

.cart-container {
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 #737373;
  display: block;
  height: auto;
  margin: 32px 14px;
  min-height: unset;
  padding: 40px 64px;
  padding-top: 130px;
}

.tab-container {
  margin-top: 12px;
  margin: 0;
  padding: 0;
}

.tab-li {
  border-color: var(--color-title-cart);
  font-weight: 600;
  list-style: none;
  padding: 0 64px 15px;
  width: auto;
}

.separator {
  background: rgba(0, 0, 0, .1);
  height: 1px;
  margin: 0;
  width: 100%;
}

.item-row {
  flex-direction: row;
  padding: 40px 4px 56px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
}

.item-cart {
  display: flex;
  padding: 0 16px;
  width: 63%;
}

.item-cart-asset img{
  width: 48px;
  height: 48px;
  margin-right: 16px;
  cursor: pointer;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

.item-cart-info {
  overflow: hidden;
}

.item-cart-info .item-title {
  font-size: 14px;
  line-height: 1.25;
}

.item-cart-info .item-title .text-title {
  font-size: 20px;
  color: #1a1a1a;
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item-cart-actions {
  margin-top: 28px;
}

.actions-container {
  display: flex;
  flex-direction: row;
  border-top: none;
  padding: 0 0 4px;
}

a {
  fill: var(--color-title-cart);
  align-items: center;
  color: var(--color-title-cart);
  cursor: pointer;
  display: inline-flex;
  position: relative;
  text-decoration: none;
  transition: .15s ease-in-out;
  padding: 0 10px;
  font-weight: 400;
  font-size: 14px;
}

.quantity-selector {
  display: flex;
  flex-flow: column;
  width: 15%;
}

.quantity-selector-box {
  justify-content: center;
  display: flex;
  flex-flow: row;
  position: relative;
}

.quantity-selector-form {
  align-items: center;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  height: 46px;
  overflow: hidden;
  padding: 10px;
  width: 120px;
}

.quantity-selector-button {
  background-color: transparent;
  border: none;
  font-size: 17px;
  padding: 0;
  width: 12px;
}

.quantity-span {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  box-sizing: border-box;
  color: var(--color-title-cart);
}

.form-control {
  display: block;
  font-weight: 400;
  position: relative;
  text-align: center;
  font-size: 16px;
  overflow: auto;
  padding-top: 0;
  width: 74px;
  border: none;
}

.title-blue {
  color: var(--color-title-cart);
}

.quantity-selector-message {
  align-items: center;
  display: flex;
  text-align: center;
  white-space: nowrap;
  width: 100%;
  flex-direction: column;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.item-price-container {
  line-height: 1.25;
  margin-left: auto;
  margin: 0;
  text-align: right;
  display: block;
}

.item-price {
  display: flex;
  gap: 4px;
  justify-content: flex-end;
}

.item-price-span {
  vertical-align: middle;
  white-space: nowrap;
  width: fit-content;
}

.total-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-div {
  text-align: left;
}

.total-text {
  color: rgba(0, 0, 0, .9);
  font-weight: 400;
  line-height: 1.25;
}

.total-div {
  display: flex;
  flex-direction: column;
}

